# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# project specific
tulip
src/tls/mbedtls-2.4.2
tags
*.swp

.DS_Store

# rpm stuff
rpmbuild/BUILD
rpmbuild/BUILDROOT
rpmbuild/RPMS
rpmbuild/SOURCES
rpmbuild/SRPMS
