[user]
        name = 
        email = 
[alias]
        ls = log --color --graph --pretty=format:'%C(white)%h%Creset -%C(green)%d%Creset %C(magenta)%s %C(white)(%cr) %C(white)<%an>%Creset' --abbrev-commit

[push]
	default = simple
