; This config file is a work in progress
; and is used to describe features and behavior
; of the tulip process.

; All flows must start with the 
; flow name which surrounds it's
; configuration with brases
; testflow { <configs> }

; Each flow requires authentication for
; for the inbound connections
; Authentication using user mode requires
; a user name and password to generate a session.
; Authentication using a predefined token
; can be used to generate a session when using
; token mode
; testflow { auth [token|user];
;            ...
;          }

; Each flow can restrict a set of ip ranges
; that may be used to allow connections.
; These can be set as a single ip or a range
; of ip addresses
; testflow { 
;            auth [token|user];
;            ip      0.0.0.0/0;
;            ...
;          }


; Finally each flow requies a destination
; The destination can either be a user
; an ip to another process or a disk
; with a path specified
; testflow { 
;            auth         [token|user];
;            ip              0.0.0.0/0;
;            dest    [user|disk:/tmp/];
;            ...
;          }


testflow1 {

  auth      user;
  ip   0.0.0.0/0;
  dest      user;
}

testflow2 {

  auth     token;
  ip   0.0.0.0/0;
  dest      user;
}


