[mysqld]
bind-address = "0.0.0.0"
port = 3306
log-bin = mysql-bin
server-id = 100
relay-log = relay-log-slave
enforce-gtid-consistency = true
gtid-mode =ON
datadir=/var/lib/mysql/
socket=/var/lib/mysql/mysql.sock
default_storage_engine = innodb
binlog_format = row
innodb_autoinc_lock_mode = 2
innodb_flush_log_at_trx_commit = 0
query_cache_size = 0
query_cache_type = 0

